#footer-upper{
    background-image: url('../images/footer-bg.jpg');
    object-fit: cover;
}

#footer-container{
    width: 80%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}

#footer-listes{
    padding: 3% 0;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

#footer-listes > div{
    margin: 0 10%;
}

#footer-logo{
    background-image: url('../images/dc-logo-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
}

ul{
    list-style: none;
}

li > h4{
    color: white;
    padding: 10% 0 5% 0;
}

li > a{
    text-decoration: none;
    color: grey;
    font-size: .7rem;
}

#footer-downer{
    background-color: #303030;
    padding: 1% 0;
}

#footer-container-downer{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-button{
    padding: 1%;
    background-color: #303030;
    border: 1px solid #0282F9;
    color: white;
}

#socials{
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#socials > h4{
    color: #0282F9;
}

#socials > img{
    width: 70%;
}